@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(0, 0, 0);
}

.slide-in {
  animation: slideIn 800ms forwards; /* Apply the animation */
  animation-timing-function: ease-in();
}

.slide-tilt {
  animation: slideTilt 1s forwards; /* Apply the animation */
  animation-timing-function: ease-in();
}

.fade-in {
  animation: fadein 800ms forwards; /* Apply the animation */
  animation-timing-function: ease-in();
}

@keyframes slideIn {
  from {
    transform: translateX(+100%); /* Start position */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* End position */
    opacity: 1;
  }
}

@keyframes slideTilt {
  0% {
    transform: translateX(+100%); /* Start position */
    opacity: 0;
  }
  80% {
    transform: translateX(0); /* End position */
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(-6.5deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
